#mapid {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    min-height: 300px;
    height: 800px;
}

html, body {
    height: 100%;
    width: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.cool-title{
    font-family: 'Baloo Paaji', 'Cursive';
    color: #454d5d;
    font-size: 40px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.map-container {
    width: 100%;
    /* max-width: 700px; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}